* {
    margin: 0;
    box-sizing: border-box;
}

p, h1, h2, li, button, div {
    font-family: 'lato';
    color: #0b132b;
}

/* Page Structure */

body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    width: 100vw;
    background-color: #FAFAFA;
    padding: 0 56px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(34, 34, 44, 0.05), 0 2px 8px 0 rgba(0,0,0,.1);
    margin-bottom: 24px;
}

.content {
    height: calc(100vh - 48px);
    width: calc(100vw - 210px);
    overflow: scroll;
    padding: 0 2px;
    margin-right: -56px;
    padding-right: 56px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    height: 80px;
    position: fixed;
    background-color: #FAFAFA;
    margin: 0 -4px;
    padding: 0 4px;
    width: calc(100% - 210px - 100px);
}

.head > p {
    color: #55565A;
}

.head > button {
    width: 100px;
    height: 34px;
    border-radius: 3px;
    background-color: #614BB9;
    border: 1px solid #4E34B1;;
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .4px;
}

.head > button:hover {
    background-color: #4E34B1;
    cursor: pointer;
}

.content__cards {
    display: flex;
    margin-top: 82px;
    height: calc(100vh - 48px - 82px);
}

.content__cards--left {
    width: 100%;
    height: 100%;
    /* margin-right: 24px; */
}

.todo {
    padding: 48px;
    padding-bottom: 60px;
}

.todo > h2 {
    display: flex;
    align-items: baseline;
    font-size: 22px;
    margin-bottom: 40px;
}

.todo > h2 > span {
    font-size: 15px;
    color: #4E34B1;
    margin-left: 6px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 16px;
}

.item:first-of-type {
    border-top: 1px solid #ececec;
}

.item > p {
    font-size: 14px;
}

.item > button {
    width: 100px;
    height: 34px;
    border-radius: 3px;
    border: none;
    background-color: #3FAE2A;
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .4px;
}

.expanded {
    border-bottom: none;
}

.integrations {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #e2e2e2;
}

.integrations__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #E2E2E2;
    border-radius: 5px;
    width: 106px;
    height: 106px;
    padding: 8px;
    margin: 8px;
}

.integrations__card:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.integrations__card > img {
    padding-bottom: 8px;
    width: 44px;
    height: 70%;
}

.integrations__card > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-top: 2px solid #e2e2e2;
    font-size: 13px;
    height: 30%;
    padding-top: 4px;
}

.inactive {
    opacity: .15;
}



/* Top Navigation */

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: white;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 56px;
}

.topNav__left, .topNav__right {
    display: flex;
    justify-content: flex-start;
}

.topNav__left > img {
    height: 24px;
}

.topNav__right > img {
    height: 20px;
}

.topNav__right > span {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.topNav__right > span > p {
    font-size: 15px;
}

.topNav__right > span > img {
    margin: 4px 0 0 6px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 26px;
    border-radius: 5px;
    background-color: #3FAE2A;
    font-size: 11.5px;
    font-weight: 600;
    color: white;
    margin-left: 12px;
}

/* Left Navigation */

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 48px);
    width: 210px;
    padding: 18px 32px 18px 0;;
}

.section { width: 100%; }

.top {height: 30%;}

.top > ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.top > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

.top > ul > li > img {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}

.top > ul > li > span {
    font-size: 12px;
    font-weight: 800;
    margin-left: 6px;
    opacity: .5;
}

.top > ul > li > .small {
    height: 18px!important;
    width: 16px;
}

.top > ul > li > .med {
    height: 14px!important;
    width: 16px;
}

.top > ul > li:hover {
    cursor: pointer;
    color: #0b132b98;
}

.active {
    font-weight: 600;
    color: #3FAE2A;
}

.active:hover {
    color: #3FAE2A!important;
}