* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

/* Page Structure */

body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    width: 100vw;
    background-color: #FAFAFA;
}

.content {
    height: calc(100vh - 48px);
    width: calc(100vw - 210px);
    padding: 32px 40px;
    overflow: scroll;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(34, 34, 44, 0.05), 0 2px 8px 0 rgba(0,0,0,.05);
    width: 100%;
    margin-bottom: 24px;
}

.content__head {
    height: 250px;
}

.content__table {
    height: 500px;
}

/* Top Navigation */

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: white;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 40px;
}

.topNav__left, .topNav__right {
    display: flex;
    justify-content: flex-start;
}

.topNav__left > img {
    height: 24px;
}

.topNav__right > img {
    height: 20px;
}

.topNav__right > span {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.topNav__right > span > p {
    font-size: 15px;
}

.topNav__right > span > img {
    margin: 4px 0 0 6px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 28px;
    border-radius: 5px;
    background-color: #3FAE2A;
    font-size: 12px;
    font-weight: 600;
    color: white;
    box-shadow: 0 2px 8px 0 rgba(34, 34, 44, 0.25);
    margin-left: 12px;
}

/* Left Navigation */

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 48px);
    width: 210px;
    padding: 32px 40px;
}

.section { width: 100%; }

.top {height: 30%;}

.top > ul {
    list-style: none;
    color: #0b132b;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.top > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

.top > ul > li > img {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}
.top > ul > li > .small {
    height: 18px!important;
    width: 16px;
}

.top > ul > li > .med {
    height: 14px!important;
    width: 16px;
}

.top > ul > li:hover {
    cursor: pointer;
    color: #0b132b98;
}

.active {
    font-weight: 600;
    color: #3FAE2A;
    /* background-color: #EBFAE8; */
    border-radius: 4px;
    margin: 4px -24px;
    padding: 0 24px;
}

.active:hover {
    color: #3FAE2A!important;
}